@font-face {
	font-family: "CHRISTMAS DAY";
	src: url("../assets/fonts/CHRISTMAS\ DAY.otf");
	font-weight: normal;
}

@font-face {
	font-family: "Baskerville";
	src: url("../assets/fonts/Libre_Baskerville/LibreBaskerville-Regular.ttf") format("truetype");
	font-weight: normal;
}

@font-face {
	font-family: "Baskerville";
	src: url("../assets/fonts/Libre_Baskerville/LibreBaskerville-Italic.ttf") format("truetype");
	font-style: italic;
}

@font-face {
	font-family: "Baskerville";
	src: url("../assets/fonts/Libre_Baskerville/LibreBaskerville-Bold.ttf") format("truetype");
	font-weight: bold;
}

body {
	font-family: "Baskerville", Georgia, serif;
	background: url("../assets/images/texture.svg"), #2a2a51;
	margin: 0;
	color: #ffffff;
	font-size: 14px;
}

.splash-screen {
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #ffffff;
	z-index: 999;
	width: 100%;
	height: 100%;
	transition: 1.5s all;
	opacity: 1;

	&.hidden {
		top: -100vh;
	}

	img {
		max-width: 30%;
		max-height: 100%;
	}
}

#snow-container {
	width: 100vw;
	max-width: 100vw;
	height: 100vh;
	position: fixed;
}

.registration-container {
	font-family: "CHRISTMAS DAY";
	background: #37376c;
	padding: 40px;
	text-align: center;
	height: 100%;
	border-radius: 50px;
	width: 90%;
	margin: 0 auto;

	.registration-heading {
		font-size: 7rem;
		line-height: 143px;
	}

	button.btn.registration-btn {
		font-size: 3rem;
		background-color: #ed5451;
		padding: 20px 40px 0px;
		border-radius: 0 0 20px 20px;
		position: relative;
		margin-top: 30px;
		white-space: nowrap;

		&::before {
			content: "";
			background: url("../assets/images/button-snow.png") center no-repeat;
			background-size: contain;
			position: absolute;
			top: -45px;
			left: -2px;
			width: 102%;
			height: 100%;
		}
	}

	.registration-subheading {
		font-family: "Baskerville";
		font-size: 0.8rem;
		margin-top: 10px;
	}

	.schedule-col {
		font-family: "Baskerville";
		font-size: 0.9rem;

		ul li {
			margin-bottom: 10px;
		}
	}
}

.main-navbar {
	.nav-logo {
		width: 100%;
		min-width: 120px;
		max-width: 150px;
	}
	.first-list li {
		margin: auto 15px;
	}
	.hope-registration-form-btn {
		background: #ed5451;
		padding-left: 10px;
		padding-right: 10px;
	}
}

.ground-container {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;

	.ground {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		width: 100%;
	}

	.santa {
		position: absolute;
		bottom: 0;
		left: 7%;
		width: 30%;
	}
}
