@font-face {
	font-family: "CHRISTMAS DAY";
	src: url("../fonts/CHRISTMAS\ DAY.otf");
	font-weight: normal;
}

@font-face {
	font-family: "Baskerville";
	src: url("../fonts/Libre_Baskerville/LibreBaskerville-Regular.ttf") format("truetype");
	font-weight: normal;
}

@font-face {
	font-family: "Baskerville";
	src: url("../fonts/Libre_Baskerville/LibreBaskerville-Italic.ttf") format("truetype");
	font-style: italic;
}

@font-face {
	font-family: "Baskerville";
	src: url("../fonts/Libre_Baskerville/LibreBaskerville-Bold.ttf") format("truetype");
	font-weight: bold;
}

html {
	height: 100%;
}

body {
	font-family: "Baskerville", Georgia, serif;
	background: url("../images/svg/texture.svg"), #2a2a51;
	margin: 0;
	color: #ffffff;
	font-size: 14px;
	min-height: 100%;
}

.splash-screen {
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background: #ffffff;
	z-index: 1099;
	width: 100%;
	height: 100%;
	transition: 1.5s all;
	opacity: 1;

	&.hidden {
		top: -100%;
		animation: open-splash-screen 3s ease-in-out 0s 1;
	}

	img {
		max-width: 30%;
		max-height: 100%;
	}

	button.enter-btn {
		font-family: "CHRISTMAS DAY";
		border-radius: 20px;
		font-size: 2rem;
		// background: #ed5451;
		// color: #ffffff;
		padding: 5px 30px;
		margin-top: 20px;
		animation: blink 1s steps(1) infinite;
	}
}

#snow-container {
	width: 100vw;
	max-width: 100vw;
	height: 100vh;
	position: fixed;
	z-index: 1;
}

.main-navbar {
	z-index: 1045;

	.nav-logo {
		width: 100%;
		min-width: 120px;
		max-width: 150px;
	}

	.first-list li {
		margin: auto 15px;
		white-space: nowrap;
	}

	.second-list li {
		button {
			width: 24px;
			height: 24px;
			position: relative;
			background-size: 100%;
			background-repeat: no-repeat;
			background-position: center;

			&.background-snow-btn {
				background-image: url("../images/svg/snow-on.svg");

				&.no {
					background-image: url("../images/svg/snow-off.svg");
				}
			}

			&.background-music-btn {
				background-image: url("../images/svg/music-on.svg");

				&.no {
					background-image: url("../images/svg/music-off.svg");
				}
			}
		}
	}

	.hope-registration-form-btn {
		background: #ed5451;
		padding-left: 10px;
		padding-right: 10px;
		width: 204px;
	}
}

@media (max-width: 991px) {
	.navbar-collapse {
		background-color: white;
		padding: 15px;
		border-radius: 5px;

		.text-light {
			color: black !important;
		}

		ul {
			max-width: 210px;
		}
	}
}

@media (max-width: 576px) {
	.splash-screen {
		img {
			max-width: 75%;
		}
	}

	.main-navbar {
		padding-top: 0;
		padding-bottom: 0;

		.first-list {
			margin-bottom: 15px;
		}

		.second-list li {
			button {
				width: 32px;
				height: 32px;
			}

			&:first-child {
				margin-right: 15px;
			}
		}
	}
}

section {
	min-height: 100vh;
	position: relative;
	background: url("../images/svg/texture.svg"), #2a2a51;
}

/* Opening Section */
section.opening-section {
	.background-img-wrapper {
		height: 100vh;
		background: url("../images/opening-bg.png") no-repeat center center fixed;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}

	.opening-visual {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		text-align: center;
		height: 100%;
		width: 100%;

		.center-visual {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 100%;
			height: 100%;

			img {
				max-height: 50%;
			}
		}

		.bottom-text {
			bottom: 5%;
			position: absolute;
			left: 0;
			right: 0;
			font-weight: bolder;
			size: 0.8rem;
			color: #ffffff;
		}

		@media (max-width: 768px) {
			.bottom-text {
				bottom: 15%;
			}
		}
	}

	@media (max-width: 768px) {
		.background-img-wrapper {
			background-image: url("../images/opening-bg-small.png");
		}
	}
}

/* Theme Section */
section.theme-section {
	// background: url("../images/svg/theme.svg");
	// background-position: center;
	// background-repeat: no-repeat;

	img.theme-img {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		transform: translate(-50%, -50%);
		right: 0;
		margin: auto;
		max-height: 65%;
	}

	img.santa-sleigh-img {
		position: absolute;
		bottom: 1%;
		right: 1%;
		height: 30%;
		animation: santa-fly 0.8s ease-in-out infinite alternate;
		opacity: 0;
		-webkit-transform: translateY(500px);
		-moz-transform: translateY(500px);
		-ms-transform: translateY(500px);
		-o-transform: translateY(500px);
		transform: translateY(500px);
		-webkit-transition: all 1s ease-out;
		-moz-transition: all 1s ease-out;
		-ms-transition: all 1s ease-out;
		-o-transition: all 1s ease-out;
		transition: all 1s ease-out;

		&.visible {
			opacity: 1;
			-webkit-transform: none;
			-moz-transform: none;
			-ms-transform: none;
			-o-transform: none;
			transform: none;
		}
	}

	#theme-section-img {
		opacity: 0;
		-webkit-transform: scale(1.5);
		-moz-transform: scale(1.5);
		-ms-transform: scale(1.5);
		-o-transform: scale(1.5);
		transform: scale(1.5);
		-webkit-transition: all 0.8s ease-in-out;
		-moz-transition: all 0.8s ease-in-out;
		-ms-transition: all 0.8s ease-in-out;
		-o-transition: all 0.8s ease-in-out;
		transition: all 0.8s ease-in-out;
	}

	#theme-section-img.visible {
		opacity: 1;
		-webkit-transform: none;
		-moz-transform: none;
		-ms-transform: none;
		-o-transform: none;
		transform: none;
	}

	@media (max-width: 991px) {
		img.theme-img {
			max-width: 80%;
			transform: translate(-50%, -70%);
		}

		img.santa-sleigh-img {
			left: 0;
			right: 0;
			margin: 0 auto;
			height: 20%;
		}

		#theme-section-img {
			-webkit-transform: scale(1.2);
			-moz-transform: scale(1.2);
			-ms-transform: scale(1.2);
			-o-transform: scale(1.2);
			transform: scale(1.2);
		}
	}
}

/* Gallery Section */
.gallery-section {
	.section-title {
		font-family: "CHRISTMAS DAY", Georgia, Serif;
		font-size: 5rem;
		margin-bottom: 5rem;
	}

	#lightgallery {
		gap: 20px;

		a {
			cursor: pointer;
			transition: 0.3s all;
			text-decoration: none;

			&:nth-child(2) {
				transform: scale(1.2);
			}

			figure {
				img {
					border: 1px solid white;
					border-radius: 10px;
					width: 400px;
					height: 225px;
					box-shadow: rgba($color: #000000, $alpha: 1) 0px 0px 10px;
				}

				figcaption {
					margin-top: 5px;
					text-align: center;
				}
			}
		}
	}

	@media (max-width: 576px) {
		#lightgallery {
			a {
				figure {
					img {
						width: 300px;
						height: 169px;
					}
				}
			}
		}
	}
}

/* About Section */
section.silver-lining-section {
	.content-container {
		width: 70%;
		background: #37376c;
		border-radius: 40px;
		padding: 40px 300px 40px 50px;

		text-align: center;
		margin-right: 20%;
		position: relative;

		p {
			margin-bottom: 0;
			font-size: 0.8rem;
		}

		img.silver-lining-img {
			position: absolute;
			top: 120px;
			right: -240px;
			max-height: 90%;
			max-width: 100%;
		}

		&::before {
			content: "THE SILVER LINING";
			font-family: "CHRISTMAS DAY";
			font-size: 5rem;
			position: absolute;
			bottom: -8rem;
			left: 22%;
		}

		&::after {
			content: "";
			position: absolute;
			right: 80%;
			bottom: -5rem;
			height: 100px;
			width: 100px;
			background-image: url("../images/svg/quote.svg");
			background-repeat: no-repeat;
			background-position: center;
			background-size: contain;
		}
	}

	@media (max-width: 991px) {
		.content-container {
			width: 85%;
			padding: 30px 30px 60px;
			margin: 0 auto;
			font-size: 0.75rem;
			position: relative;
			top: -4rem;

			img.silver-lining-img {
				right: -1rem;
				bottom: -150px;
				top: unset;
				max-width: 70%;
			}

			&::before {
				font-size: 2rem;
				width: 75px;
				bottom: -160px;
				left: 25px;
				text-align: left;
			}

			&::after {
				left: 20px;
				bottom: -20px;
				height: 60px;
				width: 60px;
			}
		}
	}
}

/* Joy to the world section */
section.joy-to-the-world-section {
	position: relative;

	.section-container {
		position: absolute;
		top: 15%;
		right: 15%;
		width: 40%;

		p.section-content {
			background: #37376c;
			display: inline-block;
			padding: 3rem;
			border-radius: 40px;
			text-align: center;
			line-height: 30px;
			margin: 0;
			font-size: 0.8rem;
		}
	}

	img.santa-sleigh-img {
		position: absolute;
		top: 10%;
		left: 5%;
		max-width: 25%;
		transform: rotateY(180deg) rotateZ(20deg);
	}

	img.three-wise-men-img {
		position: absolute;
		bottom: 0;
		left: 0;
	}

	img.baby-jesus-img {
		position: absolute;
		right: 0;
		bottom: 0;
	}

	@media (max-width: 576px) {
		.section-container {
			width: 85%;
			top: 25%;
			right: 0;
			left: 0;
			margin: 0 auto;

			p.section-content {
				padding: 2rem 1rem;
				line-height: 25px;
			}
		}

		img.santa-sleigh-img {
			top: 20%;
			max-width: 30%;
		}

		img.three-wise-men-img {
			max-width: 40%;
		}

		img.baby-jesus-img {
			max-width: 20%;
		}
	}
}

/* Registration Section */
section.registration-section {
	position: relative;
	padding: 120px 0;

	.registration-container {
		font-family: "CHRISTMAS DAY";
		background: #37376c;
		padding: 40px;
		text-align: center;
		height: 100%;
		border-radius: 50px;
		width: 90%;
		margin: 0 auto;

		.registration-heading {
			font-size: 7rem;
			line-height: 143px;
		}

		a.registration-link {
			position: relative;
			z-index: 1030;

			button.btn.registration-btn {
				font-size: 3rem;
				background-color: #ed5451;
				padding: 20px 40px 0px;
				border-radius: 0 0 20px 20px;
				position: relative;
				margin-top: 30px;
				white-space: nowrap;
				animation: blink 1s steps(1) infinite;
				z-index: 1030;

				&::before {
					content: "";
					background: url("../images/svg/button-snow.svg") center no-repeat;
					background-size: contain;
					position: absolute;
					top: -45px;
					left: -2px;
					width: 102%;
					height: 100%;
				}
			}
		}

		.registration-subheading {
			font-family: "Baskerville";
			font-size: 0.8rem;
			margin-top: 10px;
		}

		.schedule-col {
			font-family: "Baskerville";
			font-size: 0.9rem;

			ul li {
				margin-bottom: 10px;
			}
		}
	}

	.ground-container {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;

		.ground {
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			width: 100%;
		}

		.santa {
			position: absolute;
			bottom: 0;
			left: 7%;
			width: 30%;
		}
	}

	@media (max-width: 576px) {
		.registration-container {
			.registration-heading {
				font-size: 2.75rem;
				line-height: 60px;
			}

			.registration-subheading {
				font-size: 0.75rem;
			}

			a.registration-link {
				button.btn.registration-btn {
					font-size: 2.5rem;
					padding: 10px 30px 0;

					&::before {
						top: -37px;
					}
				}

				.schedule-col {
					margin: 30px auto;
					font-size: 0.7rem;

					ul li {
						text-align: center;
					}
				}
			}
		}

		.ground-container {
			.santa {
				width: 50%;
			}
		}
	}
}

@keyframes open-splash-screen {
	0% {
		top: 0%;
	}

	10% {
		top: -20%;
	}

	20% {
		top: -15%;
	}

	30% {
		top: -30%;
	}

	50% {
		top: -10%;
	}

	100% {
		top: -100%;
	}
}

@keyframes blink {
	0% {
		background-color: #8d261d;
		color: #ffffff;
	}

	50% {
		background-color: #ed5451;
		color: #000000;
	}
}

@keyframes santa-fly {
	from {
		bottom: 3%;
	}

	to {
		bottom: 1%;
	}
}

#theme-section-img {
	opacity: 0;
	-webkit-transform: scale(1.5);
	-moz-transform: scale(1.5);
	-ms-transform: scale(1.5);
	-o-transform: scale(1.5);
	transform: scale(1.5);
	-webkit-transition: all 0.8s ease-in-out;
	-moz-transition: all 0.8s ease-in-out;
	-ms-transition: all 0.8s ease-in-out;
	-o-transition: all 0.8s ease-in-out;
	transition: all 0.8s ease-in-out;
}

#theme-section-img.visible {
	opacity: 1;
	-webkit-transform: none;
	-moz-transform: none;
	-ms-transform: none;
	-o-transform: none;
	transform: none;
}

.lg-content,
.lg-toolbar,
.lg-components {
	background: #000;
}